.btn {
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: larger;
  background-color: #4267b2;
  border-radius: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #224487;
}
